:root {
  --red: #f7542e;
  --purple-dark: #090f31;
  --gray: #9e9e9e;
  --gray-light: #fafbfd;
  --gray-dark: #4f4f4f;
  --gray-helper: #a9a9a9;
  --gray-helper-2: #aeaeae;
  --gray-helper-3: #828282;
  --default: #e0e0e0;
  --dark: #3f3f3f;
  --blue: #3d5afe;
  --blue-dark: #0039cb;
  --primary: #2962ff;
  --white: #fff;
  --color: red;
}
